# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.env
.venv
venv/
ENV/

# Distribution / packaging
build/
dist/
.eggs/
*.egg-info/

# SQLite databases
*.db
*.sqlite
*.sqlite3

# Mypy cache
.mypy_cache/

# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage*
